.groupLesson {
    /* width: 300px; */
    /* height: 250px; */
    /* background: #000; */
    max-height: 300px;
    min-width: 200px;
    min-height: 200px;
    background-position: center;
    background-size: cover;
    background-position: left;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.groupLesson:hover {
    opacity: 0.8
}

.lessonCompleted {
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    background: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    gap: 5px;
    padding: 2px 5px;
    color: #0b0c0c;
    margin: auto;
    text-align: center;
    width: fit-content;
}

.lessonCompleted svg {
    height: 16px;
    width: 16px;
}

.translation {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.2);
    display: table;
    padding: 3px 6px;
}

.lightning {
    display: flex;
    position: relative;
    /* margin: 4vmin;
    filter: var(--svgfilter); */
}

.lightning span {
    /* letter-spacing: 1px; */
    /* font-size: 1rem; */
    /* margin-right: -1.2rem; */
    text-shadow: none;
}

.lightning>* {
    margin: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: calc(var(--size)* 0.8vmin) calc(var(--size)* 1.6vmin);
    background: #0b0c0c;
    /* transform: skew(calc(var(--skew)* -1deg), calc(var(--skew)* -1deg)); */
    font-weight: 700;
    color: #fff;
    /* text-transform: uppercase; */
    text-align: right;
    /* border: 3px solid var(--boxshadow); */
    border-left: 0;
    text-align: center;
}

.noisy {
    background-image: var(--noise-image);
}
